<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cloud.city">
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <application>
        <activity
            android:name=".CityActivity"
            android:theme="@style/DefaultCityPickerTheme"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>